* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.03);
}
body {
    background-color: #f3e8ff;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #f3e8ff;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    color: #3a0ca3;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #222;  
    position: relative;
}
nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #7209b7;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}
.btn-primary {
    padding: 10px 20px;
    border: none;
    background-color: #7209b7;
    color: white;
    cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}
.btn-primary:hover {
  background-color: purple;
  transform: scale(1.05);
}
.btn-outline {
    padding: 10px 20px;
    border: 2px solid #7209b7;
    background: transparent;
    color: #7209b7;
    cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;

}
.btn-outline:hover {
  background-color: #D0B9EB;
  transform: scale(1.05);
}
.card:hover {
  transform: translateY(-8px);
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

.hero-text {
    flex: 1;
   text-align: right; 
}

.subtitle {
    color: #555;
    margin-bottom: 10px;
}

.hero-text h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color: #222;
}

.hero-text span {
    color: #7209b7;
}

.description {
    margin-bottom: 20px;
    color: #444;
}

.hero-image img {
    width: 350px;
    max-width: 400px;
    border-radius: 15px;
}
.about-skills {
  background: #D0B9EB;
  padding: 80px 10%;
}

.container {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.philosophy,
.skills {
  flex: 1;
}

.philosophy h2,
.skills h2 {
  margin-bottom: 20px;
}

.stats {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.stats h3 {
  color: #7b2cbf;
  font-size: 28px;
  margin: 0;
}
.skill {
  margin-bottom: 20px;
}

.bar {
  background: #ddd;
  height: 10px;
  border-radius: 4px;
  overflow: hidden;
}
.bar span {
  display: block;
  height: 100%;
  background: #7b2cbf;
  }
.contact {
  background: white;
  padding: 80px 10%;
}

.contact-container {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.social-media a {
  padding: 10px 20px;
    border: 2px solid #7209b7;
    background: #D0B9EB;
    color: black;
    cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}
.social-media a:hover {
  background-color: purple;
}
.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: none;
  outline: none;
  background-color: #D0B9EB;
}

.contact-form button {
  padding: 12px;
  border: none;
  background: #953FE5;
  color: white;
  cursor: pointer;
}


.footer {
  background: #111;
  color: white;
  padding: 60px 10%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-brand h2 {
  font-size: 24px;
}

.footer-brand span {
  color: #7209b7;
}

.footer-brand p {
  font-size: 14px;
  color: #aaa;
  margin-top: 10px;
  max-width: 300px;
}

.footer-contact p {
  font-size: 14px;
  color: #ccc;
}

.footer-copy {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #777;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-brand p {
    margin: 10px auto;
  }
}
@media (max-width: 1024px) {
  .about-skills {
    padding: 60px 5%;
  }
}

@media (max-width: 768px) {

  .container {
    flex-direction: column;
  }

  .stats {
    justify-content: center;
    text-align: center;
  }

  .contact-container {
    flex-direction: column;
  }

  .hero-text {
    text-align: center;
    padding: 20px;
  }
}

@media (max-width: 480px) {

  .stats {
    flex-direction: column;
    gap: 20px;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .btn-primary,
  .btn-outline {
    width: 100%;
  }
}