* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.03);
}

body {
    background-color: #f3e8ff;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #f3e8ff;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #3a0ca3;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #222;
    position: relative;
}
nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #7209b7;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

.btn-primary {
    padding: 10px 20px;
    border: none;
    background-color: #7209b7;
    color: white;
    cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}
.btn-primary:hover {
  transform: scale(1.05);
}

.card:hover {
  transform: translateY(-8px);
}
.btn-outline {
    padding: 10px 20px;
    border: 2px solid #7209b7;
    background: transparent;
    color: #7209b7;
    cursor: pointer;
}
.btn-outline:hover {
  transform: scale(1.05);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

.hero-text {
    width: 50%;
}

.subtitle {
    color: #555;
    margin-bottom: 10px;
}

.hero-text h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color: #222;
}

.hero-text span {
    color: #7209b7;
}

.description {
    margin-bottom: 20px;
    color: #444;
}

.hero-image img {
    width: 350px;
    max-width: 400px;
    border-radius: 15px;
}


.about {
    background: #D0B9EB;
    color: black;
    padding: 80px 60px;
    text-align: center;
}

.about p {
    max-width: 600px;
    margin: 20px auto;
  color: #555;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
}

.stats h3 {
    font-size: 35px;
    color: #7209b7;
}


.services {
    padding: 80px 60px;
    text-align: center;
    background: #f3e8ff;
}

.services-text {
    margin: 20px auto 50px auto;
    max-width: 600px;
    color: #555;
}

.services-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.service-card {
    width: 220px;
}

.service-card h3 {
    margin-bottom: 10px;
    color: #7209b7;
}
.portafolio {
  background: #D0B9EB;
  color: #eee;
  padding: 100px 10%;
  text-align: center;
}

.portafolio h2 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #7F18E5;
}

.portafolio-text {
  max-width: 600px;
  margin: 0 auto 60px auto;
  font-size: 15px;
  color: #555;
}
.portafolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.card {
  text-align: left;
  transition: transform 0.3s ease;
}

.card img {
  width: 270px;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 400px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #7F18E5;
}

.card p {
  font-size: 13px;
  color: #636363;
}

.card:hover {
  transform: translateY(-8px);
}
.skills {
  padding: 60px 60px;
}

.skills h2 {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: bold;
  color: #000;
}

.skills-stats {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.stats h3 {
  color: #7b2cbf;
  font-size: 28px;
  margin: 0;
}
.skill {
  margin-bottom: 25px;
}

.skill p {
  margin-bottom: 8px;
  font-size: 15px;
  color: #111;
}

.bar {
  background: #ddd;
  height: 10px;
  border-radius: 4px;
  overflow: hidden;
}
.bar span {
  display: block;
  height: 100%;
  background: #7b2cbf;
  }

.testimonios {
  padding: 80px 10%;
  text-align: center;
  background-color: #D0B9EB;
}

.testimonios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.testimonio-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
}



.contact {
  background: white;
  padding: 80px 10%;
}

.contact-container {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.social-media a {
  padding: 10px 20px;
    border: 2px solid #7209b7;
    background: #D0B9EB;
    color: black;
    cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}
.social-media a:hover {
  background-color: purple;
}
.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: none;
  outline: none;
  background-color: #D0B9EB;
}

.contact-form button {
  padding: 12px;
  border: none;
  background: #953FE5;
  color: white;
  cursor: pointer;
}


.footer {
  background: #111;
  color: white;
  padding: 60px 10%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-brand h2 {
  font-size: 24px;
}

.footer-brand span {
  color: #7209b7;
}

.footer-brand p {
  font-size: 14px;
  color: #aaa;
  margin-top: 10px;
  max-width: 300px;
}

.footer-contact p {
  font-size: 14px;
  color: #ccc;
}

.footer-copy {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #777;
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-brand p {
    margin: 10px auto;
  }
}
@media (max-width: 1024px) {
  header {
    padding: 20px 30px;
  }

  .hero {
    padding: 40px 30px;
  }
}

@media (max-width: 768px) {

  header {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
  }

  .hero-image img {
    width: 100%;
    max-width: 250px;
  }
}

@media (max-width: 480px) {

  .hero-text h2 {
    font-size: 28px;
  }

  .logo {
    font-size: 26px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .btn-primary,
  .btn-outline {
    width: 100%;
    padding: 14px;
    font-size: 16px;
  }
}