*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.03);
}

body{
background:#f3e8ff;
}



header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
}

.logo{
color:#7209b7;
}

nav a{
margin:0 15px;
text-decoration:none;
color:#333;
position: relative;
}
nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #7209b7;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}
.btn-primary{
background:#7209b7;
color:white;
border:none;
padding:10px 20px;
border-radius:6px;
transition: 0.3s;
}

.btn-primary:hover {
  transform: scale(1.05);
}

.card:hover {
  transform: translateY(-8px);
}
.btn-outline{
border:2px solid #7209b7;
background:transparent;
color:#ccc;
padding:10px 20px;
border-radius: 6px
}
.btn-outline:hover {
  transform: scale(1.05);
}

.project-hero{
background:#111;
color:white;
display:flex;
align-items:center;
justify-content:space-between;
padding:80px 8%;
}

.hero-text{
width:50%;
}

.hero-text h1{
font-size:42px;
margin:15px 0;
}

.tag{
color:#A966E0;
font-weight:bold;
}

.hero-image img{
width:420px;
border-radius:10px;
}



.challenge{
padding:80px 8%;
background:white;
}

.challenge-grid{
display:grid;
grid-template-columns:1fr 1fr 1fr;
gap:40px;
}

.comillas{
background:#A966E0;
padding:25px;
border-radius:10px;
font-style:italic;
}



.impact{
background:#111;
color:white;
padding:80px 8%;
}

.impact-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:60px;
}

.numbers{
display:flex;
gap:40px;
margin-top:20px;
}

.numbers h3{
color:#A966E0;
font-size:32px;
}



.proceso{
padding:80px 8%;
text-align:center;
background:#f3e8ff;
}

.proceso-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
margin-top:40px;
}

.proceso-card{
background:white;
border-radius:10px;
padding:20px;
}

.proceso-card img{
width:100%;
height:180px;
object-fit:cover;
border-radius:8px;
}



.contact{
background:#D0B9EB;
padding:80px 8%;
}

.contact-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
}

form{
display:flex;
flex-direction:column;
gap:15px;
}

input, textarea{
padding:10px;
border:none;
}

button{
background:#7209b7;
color:white;
border:none;
padding:12px;
}

.footer {
  background: #111;
  color: white;
  padding: 60px 10%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-brand h2 {
  font-size: 24px;
}

.footer-brand span {
  color: #7209b7;
}

.footer-brand p {
  font-size: 14px;
  color: #aaa;
  margin-top: 10px;
  max-width: 300px;
}

.footer-contact p {
  font-size: 14px;
  color: #ccc;
}

.footer-copy {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #777;
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-brand p {
    margin: 10px auto;
  }
}
@media (max-width: 900px){

  .project-hero{
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .hero-text{
    width: 100%;
    padding: 20px;
  }

  .challenge-grid{
    grid-template-columns: 1fr;
  }

  .impact-grid{
    grid-template-columns: 1fr;
  }

  .process-grid{
    grid-template-columns: 1fr 1fr;
  }

  .contact-grid{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px){

  .process-grid{
    grid-template-columns: 1fr;
  }

  .hero-image img{
    width: 100%;
    max-width: 280px;
  }
}