*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#f3e8ff;
}



header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
}

.logo{
color:#7209b7;
}

nav a{
margin:0 15px;
text-decoration:none;
color:#333;
}

.btn-primary{
background:#7209b7;
color:white;
border:none;
padding:10px 20px;
border-radius:6px;
}

.btn-outline{
border:2px solid #7209b7;
background:transparent;
color:#ccc;
padding:10px 20px;
border-radius: 6px
}


.project-hero{
background:#111;
color:white;
display:flex;
align-items:center;
justify-content:space-between;
padding:80px 8%;
}

.hero-text{
width:50%;
}

.hero-text h1{
font-size:42px;
margin:15px 0;
}

.tag{
color:#A966E0;
font-weight:bold;
}

.hero-image img{
width:420px;
border-radius:10px;
}



.challenge{
padding:80px 8%;
background:white;
}

.challenge-grid{
display:grid;
grid-template-columns:1fr 1fr 1fr;
gap:40px;
}

.comillas{
background:#A966E0;
padding:25px;
border-radius:10px;
font-style:italic;
}



.impact{
background:#111;
color:white;
padding:80px 8%;
}

.impact-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:60px;
}

.numbers{
display:flex;
gap:40px;
margin-top:20px;
}

.numbers h3{
color:#A966E0;
font-size:32px;
}



.process{
padding:80px 8%;
text-align:center;
background:#f3e8ff;
}

.process-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
margin-top:40px;
}

.process-card{
background:white;
border-radius:10px;
padding:20px;
}

.process-card img{
width:100%;
height:180px;
object-fit:cover;
border-radius:8px;
}



.contact{
background:#D0B9EB;
padding:80px 8%;
}

.contact-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
}

form{
display:flex;
flex-direction:column;
gap:15px;
}

input, textarea{
padding:10px;
border:none;
}

button{
background:#7209b7;
color:white;
border:none;
padding:12px;
}

.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.footer-nav {
    margin-bottom: 20px;
}

.footer-nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}

.footer-nav a:hover {
    color: #7209b7;
}

.footer-logo {
    font-size: 24px;
    margin: 20px 0;
    color: white;
}

.footer-logo span {
    color: #7209b7;
}

.footer-text {
    margin-bottom: 15px;
    color: #aaa;
    font-size: 14px;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}

.social-icons a:hover {
    color: #7209b7;
}

@media (max-width:900px){

.project-hero{
flex-direction:column;
text-align:center;
}

.hero-text{
width:100%;
}

.challenge-grid{
grid-template-columns:1fr;
}

.impact-grid{
grid-template-columns:1fr;
}

.process-grid{
grid-template-columns:1fr 1fr;
}

.contact-grid{
grid-template-columns:1fr;
}

}

@media (max-width:500px){

.process-grid{
grid-template-columns:1fr;
}

.hero-image img{
width:280px;
}

}